/* Fonts
--------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&display=swap');
/* Generell
--------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar
--------------------------------*/
header {
    font-family: 'Bebas Neue';
}

.nav {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.nav img {
  width: 200px;
}

.nav .navbar {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.nav .navbar .nav-link {
  display: block;
  color: #282725;
  list-style: none;
  text-decoration: none;
  transition: 0.3s all ease;
  position: relative;
  padding: 0px 50px;
  font-size: 20px;
}

.nav .navbar .nav-link:hover {
    color: #ff5b5b;
}


/* Full screen
--------------------------------*/

.indexBG {
    height: 100vh;
    background: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contentBox {
    width: 40%;
    height: 60%;
    background-color: #ffffff;
    overflow: scroll;
    position: absolute;
    top: 30%;
    left: 50%;
}

.imageBox {
    text-align: center;
}

/*.image{
    width: 80%;
}*/

.title {
    font-family: 'Bebas Neue';
    color: #ff5b5b;
    font-size: 70px;
    padding: 20px 80px;
}

.text {
    font-family: 'Arvo', serif;
    padding: 20px 80px;
    line-height: 30px;
}



/* Carousel
--------------------------------*/

.imageshow-container {
    /* max-width: 1000px;*/
    width: 80%;
    position: relative;
    margin: auto;
}

.images {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -72px;
    padding: 16px;
    color: rgba(255, 255, 255, 0.5);
    /*font-weight: bold;*/
    font-size: 50px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: rgba(255, 91, 91, 0.8);
}

@media screen and (max-width: 600px) {
    .prev,
    .next {
        margin-top: -22px;
        font-size: 16px;
    }
}

.caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbers {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.spot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ff5b5b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.spot:hover {
    background-color: #0a0;
}

.active {
    background-color: #20bddd;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
    animation-name: fade;
    animation-duration: 3.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
